.btnLatest{
    color: black !important;
    font-size: 4em !important;
    background-color: white!important;
    border-color: white !important;
}

.btnLatest-active{
    color: red !important;
    font-size: 4em !important;
    background-color: white !important;
    border-color: white !important;
    text-decoration: underline !important;
}

.btnTrending{
    color: black !important;
    font-size: 4em !important;
    background-color: white!important;
    border-color: white !important;
}

.btnTrending-active{
    color: red !important;
    font-size: 4em !important;
    background-color: white!important;
    border-color: white !important;
    text-decoration: underline !important;

}