// Custom/SignIn.scss


// Custom/SignIn.scss



.background-image {
  background-image: url('../../assets/backgroundpic.jpg') !important; /* Path to your image */
  background-size: cover !important;
  background-position: center !important;
  min-height: 100vh !important;
  color: white !important;
}

//sign in or sign up centered
h1 {
  text-align: center;
  margin-bottom: 2rem !important;
}

//a reference to the input in for 
.custom-input-email{
  border-radius: 0 !important;
}

.custom-input-password{
  border-radius: 0 !important;
}

.custom-input-username{
  border-radius: 0 !important;
}

//for making the forget password greyed out
.link-grey{
  
  text-decoration: none !important;
  color: grey !important;
}

//red button
.custom-button {
  border-radius: 0 !important;
  background-color: #800000 !important;
  border-color: #800000 !important;
  margin: 2px; 
  width: 400px !important;
  display: flex;
 
}

.custom-button {
  border-radius: 0 !important;
  background-color: #b90101 !important;
  border-color: #800000 !important;
  
}


//red button
.custom-button-1 {
  border-radius: 0 !important;
  background-color: #800000 !important;
  border-color: #800000 !important;
  margin: 2px; 
  display: flex;
 
}





//setting up margin for form





 