
.landingPage {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

.header {
  width: 100%;
  background-repeat: no-repeat;
}

.headerImage {
  /* aspect-ratio: 2.5; */
  object-fit: contain;
  object-fit: fill;
  object-position: center;
  background-repeat: no-repeat;
  width: 100%;
  image-rendering: crisp-edges;
  filter: contrast(150%) brightness(90%);
}

.trendingSection {
  align-self: stretch;
  margin-top: 40px;
  width: 100%;
}

.trendingGrid {
  display: flex;
  gap: 0px;
}

/* .trendingImageWrapper {
  background-color: #815959;
  overflow: hidden;
  gap: 0;
  width: 50%;
} */


.trendingImage {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  gap: 0;
  width: 50%;
}

/* trending letter box */
.trendingContent {
  background-color: white;
  background-color: #f1f1f170;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  line-height: 1;
  width: 50%;
  padding: 40px;
  
}

.trendingTitle {
  color: #600000;
  text-align: center;
  text-transform: uppercase;
  font: 600 32px Arial;
}

/* content p in the grey box */
.trendingDescription {
  color: #040404;
  letter-spacing: 1px;
  text-align: justify;
  align-self: stretch;
  margin-top: 20px;
  font: 400 14px Arial;
}

/* button "dive in" */
.TButton {
  background-color: #ffffff;
  margin-top: auto;
  font: 550 16px Arial;
  color: #600000;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 6px;
  border: 2px solid #60000080;
}

.TButton:hover {
  background-color: #600000;
  color: #f2f2f2;
  border: 2px solid #f3f3f3;
}

.trendingGallery { 
  display: flex;
 } 

/* 2 pics at the bottom */
.galleryImage {
  object-fit: contain;
  object-position: center;
  width: 50%;
}

/* Head of each section -> opportunity n News */
.sectionTitle {
  color: #040404;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600; 
}

.opportunitiesSection {
  width: 100%;
  max-width: 100%;
  padding: 0 40px;
  /* margin-top: 40px; */
}

/* The box design */
.opportunityCard {
  background-color: #fff;
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  padding: 40px;
  border-radius: 5px;
  border: 2px solid #04040480;
}

.opportunityTitle {
  color: #040404;
  margin-left: 140px;
  font: 700 24px Arial;
}

.opportunityContent {
  display: flex;
  /* width: 100%; */
  max-width: 90%;
  gap: 0px 40px;
  font-weight: 400;
}

.opportunityImage {
  /* aspect-ratio: 1; */
  object-fit: contain;
  object-position: center;
  width: 100px;
  align-self: flex-start;
  max-width: 100%;
}

.opportunityDescription {
  color: grey;
  /* flex-grow: 1; */
  /* width: 785px; */
  width: 80%;
  font: 14px Roboto, sans-serif;
}

.viewMoreButton {
  border-radius: 3px;
  background-color: #fff;
  align-self: flex-end;
  margin-top: -50px;
  color: #600000;
  text-align: center;
  padding: 14px 40px;
  font: 12px Arial;
  border: 1px solid #600000;
}

.viewMoreButton:hover {
  color: #f3f3f3;
  background-color: #600000;
}

/* start portfolio section */
/* for both portfolio */
.portfolioSection {
  width: 100%;
  padding: 0px 40px;
  max-width: 100%;
  
}

.portfolioGrid {
  display: flex;
  gap: 40px;
}

.portfolioCard {
  display: flex;
  flex-grow: 1;
  width: 50%;
}

.portfolioInfo {
  background-color: #04040405;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* width: 40%; */
  padding: 40px;
  /* font: 500 12px/1 Arial; */
}

.portfolioName {
  color: #040404;
  font: 600 24px Arial;
  align-self: flex-start;
}

.portfolioRole {
  color: #600000;
  font: 600 16px Arial;
  align-self: flex-start;
  margin-top: 0%;
}

.portfolioDescription {
  color: #040404;
  font: 100 12px Arial;
  text-align: justify;
  margin-top: auto;
}

/* .portfolioImageWrapper {
  background-color: #f3f3f3;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  width: 61%;
} */

.portfolioImage {
  /* aspect-ratio: 1.01; */
  object-fit: contain;
  object-position: center;
  width: 60%;
  display: flex;
  flex-grow: 1;

}

/* button for the portfolio */
.PButton {
  background-color: #fff;
  align-self: center;
  margin-top: auto;
  color: #600000;
  text-align: center;
  padding: 10px 40px;
  font: 12px Arial;
  border: 1px solid #600000;
  border-radius: 3px;
}

.PButton:hover {
  color: #f3f3f3;
  background-color: #600000;
}
/* End of portfolio */


.newsSection {
  width: 100%;
  max-width: 100%;
}

.newsGrid {
  display: flex;
  gap: 0px;
}

.newsCard {
  display: flex;
  flex-direction: column;
  color: #000;
  font: 400 24px/1 ;
  /* width: 33.33%; */
  max-width: 100%;
}

.newsImage {
  /* aspect-ratio: 1.19; */
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.newsContent {
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  padding: 20px;
}

.newsTitle {
  font-size: 24px;
  font-weight: 600;
}

.newsDescription {
  margin-top: 20px;
  font: 14px Gabarito, sans-serif;
}

.newsAuthor {
  align-self: flex-start;
  margin-top: 20px;
  font-size: 16px;
  
}
  
