

.newsfeed-container {
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebar-column, .feed-column, .button-column {
    height: 100vh;
    overflow-y: auto;
  }
  
  .sidebar-column {
    background-color: #f8f9fa;
  }
  
  .feed-column {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .post-list {
      
    }
  }
  
  .button-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sticky-wrapper {
      position: sticky;
      top: 20px;
      padding: 20px;
    }
    
    .post-button {
      background-color: #800000 !important;
      border-color: #800000 !important;
      margin-bottom: 10px !important;
      width: 300px;
      max-width: 500px;
      min-width: 200px;
      border-radius: 0 !important;
    }

    .post-button:hover{
      border-radius: 0 !important;
      background-color: white !important;
      border-color: #800000 !important;
      color: black !important;
      width: 100px !important;
      box-shadow: 0 1px 3px rgba(1, 1, 0, 1) !important;
      transition: background-color 0.3s, transform 0.3s, color 0.3s !important;
      width: 300px;
      max-width: 500px;
      min-width: 200px;
    
    }
  }

  .online-status{
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background-color: #0ebb50;
    border-radius: 50%;
    margin-top: 2px;
  }
  .offline-status{
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background-color: grey;
    border-radius: 50%;
    margin-top: 2px;
  }

  .user-sidebar {
    margin: 2px auto;
    padding: 10px;
    text-align: left;
  }

 
  
  // Hide scrollbars for a cleaner look (optional)
  .sidebar-column, .feed-column, .button-column {
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .user{
    display: flex;
    align-items: center;
    .userName{
      


    }

  }
